.Input-Group-Icon {
  position: absolute;
  background: transparent;
  border: 0px;
  top: 5px;
  z-index: 99;
  margin-top: 3px;
}

.custom-input {
  padding-left: 45px !important;
}

.MainLoader {
  position: absolute;
  z-index: 99;
  width: 100%;
  height: 100vh;
}

.scrollbar-w-thin{
  scrollbar-width: thin;
}